body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
.header, .footer {
    height: 30px;
    width: 100%;
    color: black;
}
.header{
    align-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer{
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.middle{
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    display: flex;
}
.middle-container{
    width: 800px;
    height: 300px;
    display: flex;
    flex-direction: column;

}
.middle-logo, .middle-box, .middle-bottom{
    width: 100%;
    height: 33%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.middle-box{
    flex-grow: 1;   
}
.footer-container-left, .footer-container-right{
    width: 200px;
    height: 70%;    
}
.footer-container-left{
    margin-left: 25px;
}
.footer-container-right{
    margin-right: 25px;
}

.header-container-left, .header-container-right{
    width: 200px;
    height: 70%;
}
.header-container-left{
    margin-left: 25px;
}
.header-container-right{
    margin-right: 25px;
    text-align: right;
}
